<section class="about">
  <p>
    Minha jornada na programação começou em meio à curiosidade, explorando códigos assistindo a conteúdos online, 
    mais especificamente sobre Python com o canal do 
    <a href="https://www.youtube.com/@CursoemVideo" target="_blank">Curso em Vídeo</a> 
    no Youtube. Essa descoberta espontânea 
    desencadeou uma paixão pela arte de criar soluções através da programação. 
  </p>
  <p>
    Iniciei como estagiário na <a [href]="experienceLinks.SIGE" target="_blank">SIGE Cloud</a>, sistema de ERP da minha cidade, onde após um período, fui efetivado para Desenvolvedor Full Stack. 
    Posteriormente, atuei como desenvolvedor Front End na <a [href]="experienceLinks.SKEEL" target="_blank">Skeel</a>, uma plataforma de recrutamento inteligente, construindo interfaces 
    e também contribuindo para melhorias em projetos Back End, devido a minha experiência na área. Atualmente, sou Software Engineer na <a [href]="experienceLinks.VIAHUB" target="_blank">ViaHub</a>, setor de 
    tecnologia do <a [href]="experienceLinks.GRUPO_CB" target="_blank">Grupo Casas Bahia</a>, atuando em diversos projetos com a criação de novas interfaces, assim como no desenvolvimento de bibliotecas.
  </p>
  <p>
    Minha jornada é marcada por uma evolução contínua, combinando experiências práticas e sólidas com uma busca 
    constante por aprendizado e aprimoramento.
  </p>
</section>