<section class="about">
  <p>
    Sou Desenvolvedor Front End com experiência em projetos de grande porte e alta performance. Nas minhas experiências mais recentes, atuei na <a [href]="experienceLinks.VIAHUB" target="_blank">ViaHub</a>, setor de tecnologia do Grupo Casas Bahia, onde contribuí para a criação de componentes e interfaces reutilizáveis, promovendo mais eficiência e consistência no desenvolvimento.
  </p>
  <p> 
    Atualmente, trabalho na <a [href]="experienceLinks.GFT" target="_blank">GFT Technologies</a>, desenvolvendo aplicações para um cliente do setor financeiro com Angular, RxJS, TypeScript e arquitetura baseada em Micro Frontends. Tenho como foco a construção de interfaces modernas, responsivas e intuitivas, sempre priorizando a melhor experiência para o usuário final.
  </p>
</section>