section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

.container {
  width: 114rem; 
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 9rem 0;
  gap: 10rem;

  &--sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
  }

  &__title {
    display: none;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
    color: var(--text-lightness);
  }
}

@media screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
  }

  .content {
    min-height: 0;

    &--sticky {
      position: static;
      padding-bottom: 0;
    }

    &__title {
      display: block;
    }
  }
}