
:root {
  --main-green: #90FF20;
  --main-yellow: #D2FF20;

  --main-background: #2D2D2D;
  --darkness-background: #1C1C1C;
  --black-background: #141414;

  --text-main: #B4B4B4;
  --text-darkness: #8D8D8D;
  --text-lightness: #F5F5F5;
}

@font-face {
  font-family: 'inter';
  src: url('./assets/inter.ttf');
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--main-background);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'inter';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-moz-selection {
  color: var(--main-background);
  background: var(--secondary-yellow);
}

::selection {
  color: var(--main-background);
  background: var(--main-yellow);
}